div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
input, button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    width: 40%;
    background-color: #daad5a;
    color:black;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
}