
.onclick2{
    --c: black;
    color: var(--c);
    font-size: 18px;
    border: 0.1em solid var(--c);
    border-radius: 1.1em;
    width: 100px ;
    height: 50px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
}
.onclick{
    --c: black;
    color: var(--c);
    font-size: 10px;
    border: 0.1em solid var(--c);
    border-radius: 1.1em;
    width: 120px ;
    height: 50px;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 10px;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
}
#LoadClass{
  margin-left:20px;
  margin-top:20px;
}
#Messages\.searchClassPath{
  margin-left:150px;
  margin-top:20px;
}
#Messages\.searchFiles{
  margin-left:280px;
  margin-top:20px;
}
#Metadata\.replaceExtendedMetaClasses{
  margin-left:410px;
  margin-top:20px;
}
#WebJARs{
  margin-left:540px;
  margin-top:20px;
}
#ViewRepository\.init\.ViewRepositoryImpl{
    margin-left:670px;
  margin-top:20px;
}
#ViewRepository\.init\.ViewRepositoryClientImpl{
    margin-left:800px;
  margin-top:20px;
}
#Avg{
  margin-left:10px;
  margin-top:150px;
}
#Min{
  margin-left:10px;
  margin-top:210px;
}
#Max{
  margin-left:10px;
  margin-top:270px;
}
#StdDev{
  margin-left:10px;
  margin-top:330px;
}
#Count{
  margin-left:10px;
  margin-top:390px;
}



