



#map{
  width:500px;
  height: auto;
  margin: 100px 0 0 20px;
  position:absolute;
  z-index:-1;
}
#Europe{
  width:50px;
  height: auto;
  margin: 500px 0 0 250px;
  position:absolute;
  z-index:-1;
}
#Fond{
  width:100%;
  height: 1000;
  position:absolute;
  z-index:-5;
}
script{
  z-index:1;
}

